#Rust / Cargo

/target
Cargo.lock

#Environment and Secrets

.env
*.txt
*.pem
*.key

#IDEs

.vscode/
.idea/
*.swp
*.swo

#OS Stuff that we don't care about

.DS_Store
Thumbs.db

#Docker

.dockerignore